
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
  width: device-width;
}

* {
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.5;
  color: #444;
  background-color: #fff;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  text-rendering: optimizeLegibility;
  font-family: 'Fira Sans', sans-serif;
  padding:.6rem;
}

img {
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: bicubic;
  border: 0;
  border-style: none;
  vertical-align: middle;
  width: auto\9;
  height: auto;
  max-width: 100%;
}

.screenshot{
display: block;
margin:2rem auto;
}

svg:not(:root) {
  overflow: hidden;
}

.txt-bold{
  font-weight:700;
}
strong{
  font-weight:400;
}
p{
  display: block;
  max-width: 700px;
  margin:1rem auto;
}
  code{
    display: block;
    width:100%;
    margin:10vh auto;

  }
  pre{
    width:100%;
    max-width: 900px;
    margin:0 auto;
    background-color: rgb(35, 33, 46);
    border-radius:.2rem;
    padding:1rem .5rem;
    font-size:1.2rem;
  }
  .c{
   color: #92ead3;
  }
  .c-{
    color:#a49ff1;
  }
  .c--{
    color:#ef92ca;
  }
  .c---{
    color:#80c4e2;
  }